<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s - A simple http server</title>
</head>

<body>
    <h1>Error! What have you done?!</h1>
    <%= error %>
</body>

</html>